*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

ul{
    list-style: none;
}

a, a:link, a:visited{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
}


.container{
    width: 114rem;
    margin: 0 auto;
    
}






#footer{
    padding: 8.2rem 0;
}



img{
    border-radius: 3px;
}

a, a:link, a:visited{
    text-decoration: none;
    cursor: pointer;
}

#video{
    background-image: url("../images/marketing_2.svg");
    background-size: 45%;
    background-position: right;
    background-repeat: no-repeat;
}

.scripps_iframe_embed{
    padding: $x-big-size;
    
    // max-width: $base-width;
    // margin: 0 auto;
    margin-bottom: $x-big-size;
    box-shadow: $box-shadow;
}