/* fallback for old browsers */
/* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:100,300,400,900,900i&display=swap");
@font-face {
  font-family: "Artifact";
  src: url("./Artifact.otf") format("woff2"), url("./Artifact.otf") format("woff"); }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2d3436;
  padding: 2.4rem;
  background: #fff; }

.icon {
  font-size: 9.2rem;
  color: #97cfe7; }

.small-text {
  font-size: 1.4rem;
  font-weight: 400; }

.paragraph {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 400; }

.paragraph-base {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2d3436; }

.section-header {
  font-weight: 700;
  font-size: 4.8rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem; }

.section-header--white {
  color: #fff; }

.header-gradient {
  background: linear-gradient(to top left, rgba(255, 255, 255, 0.5), rgba(109, 212, 250, 0.644), rgba(41, 127, 185, 0.692));
  background: -webkit-linear-gradient(to top left, rgba(255, 255, 255, 0.5), rgba(109, 212, 250, 0.644), rgba(41, 127, 185, 0.692));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

section h3 {
  font-size: 2.4rem; }

section h1 {
  font-size: 3.6rem;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase; }

@media (max-width: 768px) {
  .header-sm {
    font-size: 2.4rem;
    font-weight: 500; }
  .section-header {
    font-weight: 500;
    font-size: 2.4rem; }
  div.header-txt > h1 {
    font-size: 1.8rem; } }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

ul {
  list-style: none; }

a, a:link, a:visited {
  text-decoration: none;
  color: inherit; }

button {
  cursor: pointer; }

.container {
  max-width: 114rem;
  margin: 0 auto; }

#footer {
  padding: 8.2rem 0; }

img {
  border-radius: 3px; }

a, a:link, a:visited {
  text-decoration: none;
  cursor: pointer; }

.scripps_iframe_embed {
  max-width: 100vw;
  height: auto;
  border-bottom: 9.2rem solid #ECF4F6; }

.header-wrapper {
  background: #fff;
  width: 100%; }

header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.5), rgba(109, 212, 250, 0.644), rgba(41, 127, 185, 0.692)), url("../images/nate-greno-df6zCs6MCYQ-unsplash.jpg"); }

.header {
  padding: 2.4rem 0;
  max-width: 114rem;
  margin: 0 auto; }

.header-txt h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.8rem;
  color: #2d3436;
  text-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.header-txt h3 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #2d3436;
  text-transform: uppercase; }

.header-hero {
  padding: 2.4rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header-hero p {
  color: #fff; }

.hero-h {
  font-size: 6.2rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

@media (max-width: 768px) {
  .hero-h-sm {
    font-size: 3.6rem;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: center; }
  .header-nav--menu ul {
    display: none; } }

.header-nav {
  display: flex;
  justify-content: space-between; }

.header-nav--menu ul li {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: right;
  color: #2d3436; }

.header-nav--menu {
  justify-self: flex-end;
  align-self: flex-end;
  display: flex; }

.btn {
  cursor: pointer;
  padding: 1.2rem 3.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all .2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(0px);
  border: #e74c3c; }

.btn-red {
  background: #e74c3c;
  color: #fff; }

.btn-lg {
  width: 100%; }

.post-btn {
  padding-top: 2.4rem;
  width: 100%;
  text-align: center; }

@media (min-width: 768px) {
  .cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .services {
    padding: 4.8rem 0; } }

.services {
  padding: 9.2rem 0;
  background-image: url("https://images.pexels.com/photos/163848/road-mountains-sunset-path-163848.jpeg?cs=srgb&dl=gray-concrete-road-beside-brown-mountain-during-golden-hour-163848.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  border-top: 9.2rem solid #ECF4F6; }

.services-card {
  flex-basis: 34rem;
  padding: 2.4rem;
  text-align: center;
  background: #fff;
  opacity: .90;
  border-radius: 3px;
  margin: 1.2rem; }

.card-header {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  text-align: center;
  color: #2d3436; }

.section-header {
  font-size: 4.8rem;
  text-align: center; }

.partner {
  display: flex;
  justify-content: space-around;
  padding: 9.2rem 0;
  background: #3498db; }
  .partner img {
    max-width: 32rem; }

.partner-text {
  padding: 2.4rem; }

#partners {
  padding-top: 9.2rem;
  background: #ECF4F6; }

@media (max-width: 768px) {
  .partner {
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .partner img {
      max-width: 26rem;
      margin-bottom: 2.4rem; }
  .paragraph-sm {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    font-weight: 400; } }

#posts {
  background: #ECF4F6;
  padding: 9.2rem 0; }

.post img {
  width: 100%; }

.post-container {
  flex: 1;
  flex-basis: 32rem;
  padding: 2.4rem;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 1.2rem; }

.post {
  display: flex;
  flex-wrap: wrap; }

.post p {
  font-size: 1.4rem;
  display: inline;
  color: #636060;
  margin-top: .8rem; }

@media (max-width: 768px) {
  #posts {
    padding: 4.8rem 0; } }

@media (max-width: 768px) {
  .footer {
    flex-direction: column; } }

footer {
  background: #043A63;
  color: #fff; }

.footer {
  display: flex; }

.footer-left {
  padding: 2.4rem; }
  .footer-left p {
    font-size: 1.6rem;
    color: #97cfe7; }
    .footer-left p a:hover {
      color: #fff; }

.footer-right {
  padding: 2.4rem;
  flex: 1; }
  .footer-right form {
    display: flex;
    flex-direction: column; }
    .footer-right form input, .footer-right form textarea {
      padding: 0.8rem 1.4rem;
      margin-bottom: 0.8rem;
      font-size: 1.6rem;
      border-radius: 3px;
      color: #2d3436;
      border: none;
      box-sizing: border-box;
      max-width: 100%; }
    .footer-right form textarea {
      resize: none; }

.footer-title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize; }

.footer-header {
  font-size: 2.4rem;
  font-weight: 300;
  color: #97cfe7;
  margin-bottom: 0.8rem; }

.footer-btn {
  text-align: right; }

.social i {
  font-size: 2.4rem;
  color: #97cfe7;
  margin-right: 0.8rem; }
  .social i:hover {
    color: #fff;
    cursor: pointer; }

.btn {
  cursor: pointer;
  padding: 1.2rem 3.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all .2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(0px);
  border: #e74c3c; }

.btn-red {
  background: #e74c3c;
  color: #fff; }

.btn-lg {
  width: 100%; }

.post-btn {
  padding-top: 2.4rem;
  width: 100%;
  text-align: center; }
