

.header-wrapper{
    background: $white;
    width: 100%;
}

header{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: $gradient, url("../images/nate-greno-df6zCs6MCYQ-unsplash.jpg");
    
}

.header{
    padding: $narmal-size 0;
    max-width: $base-width;
    margin: 0 auto;  
}


//header logo
.header-txt h1{
    font-size: $narmal-size;
    font-weight: 700;
    line-height: 1;
    margin-bottom: $x-small-size;
    color:$black;
    text-shadow: $box-shadow;
}
.header-txt h3{
    font-size: $base-size;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color: $black;
    text-transform: uppercase;
}


.header-hero{
    padding: 2.4rem;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 

    
}

.header-hero p{
    color: $white;
}

.hero-h{
    font-size:6.2rem;
    color: $white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
            
}


@media(max-width : 768px){
    
    .hero-h-sm{
        font-size:3.6rem;
        color: $white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        text-align: center;
                
    }

    .header-nav--menu{
        ul{
            display: none;
        }
    }
    
}
