.partner{
    display: flex;
    justify-content: space-around;
    padding: $x-big-size 0;
    background:$dark-gray;

    img{
        max-width: 32rem;
        
    }

}

.partner-text{
    padding: 2.4rem;
}



#partners{
    padding-top: $x-big-size;
    background: #ECF4F6;
}

@media(max-width : 768px){
    
    .partner{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
       

        img{
            max-width: 26rem;
            margin-bottom: 2.4rem;
            
        }
        
    }
    
    

    .paragraph-sm{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.8rem ;
        margin-bottom: $x-small-size;
        font-weight: 400;
    }
}

