#posts{
    background: #ECF4F6;
    padding: $x-big-size 0;
}

.post img{
    width: 100%;
}



.post-container{
    flex: 1;
    flex-basis: 32rem;
    padding: $narmal-size;
    background:$white;
    box-shadow: $box-shadow;
    margin: 1.2rem;

}

.post{  
    display: flex;
    flex-wrap: wrap;    
}


.post p{
    font-size: 1.4rem;
    display: inline;
    color: #636060;
    margin-top: .8rem;
}



@media(max-width : 768px){
    #posts{
        padding:4.8rem 0;
    }
    
}