
@media(min-width:768px){
    .cars{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;    
    }
    .services{
        padding: 4.8rem 0;
    }

}

.services{
    padding: $x-big-size 0;
    background-image: url("https://images.pexels.com/photos/163848/road-mountains-sunset-path-163848.jpeg?cs=srgb&dl=gray-concrete-road-beside-brown-mountain-during-golden-hour-163848.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    border-top: $x-big-size solid $section-bg-color;
}


.services-card{
    flex-basis: 34rem;
    padding: $narmal-size;
    text-align: center;
    background: $white;
    opacity: .90;
    border-radius: 3px;
    margin: 1.2rem;
}

.card-header{
    font-size: $narmal-size;
    font-weight: 500;
    margin-bottom: $x-small-size;
    text-align: center;
    color: $black;
}


.section-header{
    font-size:$big-size;
    text-align: center;
}

